[submodule "src/magit"]
	path = src/magit
	url = git://github.com/magit/magit.git
[submodule "src/git-annex"]
	path = src/git-annex
	url = git://github.com/jwiegley/git-annex-el.git
[submodule "src/org-caldav"]
	path = src/org-caldav
	url = git://github.com/dengste/org-caldav.git
[submodule "src/epresent"]
	path = src/epresent
	url = https://github.com/eschulte/epresent.git
[submodule "src/git-modes"]
	path = src/git-modes
	url = git@github.com:magit/git-modes.git
